.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header h1 {  
    font-size: 2rem;
}

.header h1 span{  
    font-size: 5rem;
    color: var(--color-pink);
    font-family: 'Bonheur Royale', cursive;
}

.typewriter {  
    font-size: 1.8rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #ffd166;
}

.header p a {  
    border-bottom: 2px solid white;
}
.header p a:hover {  
    border-bottom: 2px solid rgba(255, 255, 255, 0.578);
    color: rgba(255, 255, 255, 0.578);
}

.header> div > a{
    margin: 0.5rem 0;
}

.button {
    padding: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #ffd166;
    color: #ffd166;
    margin-top: 2rem;
}

.button:hover,
.button:focus {
    color: #06d6a0;
    box-shadow: inset 0 0 1em #06d6a0, 0 0 1em #06d6a0;
    border: 2px solid #06d6a0;
}

.button:active {
    background-color: #06d6a0;
    color: #073b4c;
}



@media (min-width: 900px) {
    .header {
        align-items: flex-start;
        text-align: left;
    }
}