.links {
    position: absolute;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.links a {
    height: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #073b4c;
    background-color:#06d6a0;
}
.links a:hover {
    transition: 0.5s linear;
    background-color: #073b4c;
    color: #06d6a0;
    font-size: 1rem;
}
.links a:focus {
    transition: 0.5s linear;
    background-color: #073b4c;
    color: #06d6a0;
    font-size: 1rem;
}


.links a>* {
    font-size: 2rem;
}


/* .active {
    transition: 0.5s linear;
    background-color: #073b4c;
    color: #ef476f;
    } */

/* 
.button {
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
    }


.navbar .button {
    color: #06d6a0;
    border: 2px solid #06d6a0;
}

.navbar .button:hover,
.button:focus {
    box-shadow: inset 0 0 1em #ffd166, 0 0 1em #ffd166;
    border: 2px solid #ffd166;
    color: #ffd166;
}

.navbar .button:active {
    background-color: #ffd166;
    color: #073b4c;
} */

